.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(239, 234, 226);
  color: black;
}

.header {
  background-color: white;
  border-bottom: 1px solid rgb(230, 231, 234);
  display: flex;
  justify-content: space-between;
}

.collectionDetails {
  display: flex;
  gap: 12px;
  align-items: center;
}

.headerFirstRow {
  display: flex;
  padding: 12px 12px 0;
  align-items: center;
}

.headerSecondRow {
  display: flex;
  background-color: white;
  width: 60%;
  padding: 0 12px 8px 12px;
}

.segmentControlContainer {
  margin-left: auto;
  margin-right: auto;
}
