.container {
  background-color: rgb(245, 247, 251);
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: rgb(230, 235, 245);
  }
}

.activeOption {
  background-color: rgb(230, 235, 245);
}
