.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #202632;
}

.option {
  display: flex;
  width: 100%;
}

.optionButton {
  display: flex;
  gap: 16px;
  align-items: center;
  border: unset;
  flex: 1;
  padding: 16px 24px 16px 24px;
  &:hover {
    background-color: #2b313c;
  }
}

.optionLabel {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
