.container {
  display: flex;
  height: 100vh;
  width: 100%;
  min-width: 748px;
}

.leftContainer {
  display: flex;
  width: 24%;
  flex-direction: column;
  background-color: rgb(245, 247, 251);
}

.header {
  color: rgb(63, 65, 77);
  font-size: 20px;
  font-weight: 600;
  padding: 24px;
}

.sidebarContainer {
  display: flex;
  width: 100%;
  min-height: 0;
  overflow-y: auto;
  padding: 0 8px;
}

.noMatchText {
  display: flex;
  color: white;
}
