.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background-color: rgb(239, 234, 226);
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  border-bottom: 1px solid rgb(230, 231, 234);
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 48px;
  padding: 48px;
}

.linkOption {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.spinnerContainer {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
}
